
.hidden {
	display: none;
}



button.reservation {
	width: 100%;
}

button.quote {
	width: 100%;
}
.reservationWrap {
	float: left;
	margin-top: 50px;
}
.spacer {
	width: 10%;
	height: 900px;
	float: left;
}
.reservation {
	margin-top: 10px;
}

h3 {
	text-align: center;

}
p {
	text-align: center;
	vertical-align: middle;

}
ul {
	list-style-type: none;
}
.icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.address {
	border: 5px solid black;
	background: blue;
	vertical-align: middle;
}

.slides {
	margin: 0 auto;
}
#calendar {

}


.quote {
	width: 100%;
}

.ui-datepicker-title {
	text-align: center;
	background: white;
}

table tr td th {
	padding: 0px;
	text-align: center;
}
#datepicker {
	font-size: 62.5%;
}