
.hidden {
	display: none;
}



button.reservation {
	width: 100%;
}

button.quote {
	width: 100%;
}
.reservationWrap {
	float: left;
	margin-top: 50px;
}
.spacer {
	width: 10%;
	height: 900px;
	float: left;
}
.reservation {
	margin-top: 10px;
}

h3 {
	text-align: center;

}
p {
	text-align: center;
	vertical-align: middle;

}
ul {
	list-style-type: none;
}
.icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.address {
	border: 5px solid black;
	background: blue;
	vertical-align: middle;
}

.slides {
	margin: 0 auto;
}
#calendar {

}


.quote {
	width: 100%;
}

.ui-datepicker {
	position: absolute;
	top: 0px;
	font-size: .7em !important;
	text-align: center !important;

}
.ui-datepicker table tbody tr td  {
	padding: 1px !important;
	font-size: .5em !important;
}


.ui-datepicker-title {
	text-align: center;
	background: white;
}

table tr td th {
	padding: 0px;
	text-align: center;
}
#datepicker {
	font-size: 62.5%;
}

h2 {
	font-size: 1.5em;
	color: white;
}
.quoteWrapper {
	height: 75px;
	border: none;
	margin-bottom: 50px;
	background-color: none;
	text-align: center;
	vertical-align: middle;
}

body {
	background-color: #0099B5;
}

.quote {
	background-color: #DE2429;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	background-color: #DE2429;

}


.top-bar-section li a:hover {	
	background-color: #990000 !important;
}

button:hover, .button:hover {	
	background-color: #990000 !important;
}
.date {
	min-width: 100px;
	font-size: 10em;
}

select {
	min-width: 75px;
} 
.fc-next-button, .fc-prev-button {
	height: 39px !important;
	background-color: #333333 !important;
	background-image: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}

.fc-icon {
	color: white !important;
}

.fc-today {
	background-color: #F0F0F0 !important;
}

.fc-day-number {
	font-weight: normal !important;
	text-align: left !important;
}
.fc-toolbar {
	background-color: #1D2276 !important;
}